html,
body {
    height: 100%;
}
body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.card {
    border-radius: 20px;
}

.pokemon-img {
    width: 100%;
    max-height: 320px;
    object-fit: contain;
}

footer {
    background-color: #002f75;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 576px) {
    .pokemon-img {
        max-height: 220px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

nav{
    background-color: darkred;
}
